OPENCLAW_BASE_URL=http://127.0.0.1:18789
OPENCLAW_TOKEN=
OPENCLAW_AGENT_ID=main
OPENCLAW_MESSAGE_CHANNEL=feishu
OPENCLAW_MODEL=
OPENCLAW_PROXY_URL=
OPENCLAW_VERIFY_SSL=true
OPENCLAW_TIMEOUT_SECONDS=120
OPENCLAW_STREAM_MODE=http_sse
ADMIN_USER_IDS=admin-1
RETENTION_DAYS=30
NDJSON_COMPRESS_AFTER_DAYS=7
API_DATA_DIR=api/data
MMD_ROOT_DIR=./MMD
TTS_SERVICE_ENABLED=false
TTS_SERVICE_BASE_URL=http://10.11.252.164:5555
TTS_SERVICE_TIMEOUT_SECONDS=30
TTS_SERVICE_POLL_INTERVAL_SECONDS=3
TTS_SERVICE_MAX_POLL_ATTEMPTS=40
